<!-- <div class="container mt-5 col-md-4">
  <h3 class="text-center mb-3">Register</h3>

  <input [(ngModel)]="data.username" class="form-control mb-2" placeholder="Username">

  <input [(ngModel)]="data.email" class="form-control mb-2" placeholder="Email">

  <input [(ngModel)]="data.password" type="password" class="form-control mb-2" placeholder="Password">

  <button (click)="register()" class="btn btn-success w-100">Register</button>

  <p class="text-center mt-3">
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</div> -->


<div class="container mt-5 col-md-4" [formGroup]="form">
  <h3 class="text-center mb-3">Register</h3>

  <!-- Username -->
  <input formControlName="username" class="form-control mb-1" placeholder="Username">

  @if (form.get('username')?.invalid && form.get('username')?.touched) {
    <div class="text-danger mb-2">Username is required</div>
  }

  <!-- Email -->
  <input formControlName="email" class="form-control mb-1" placeholder="Email">

  @if (form.get('email')?.invalid && form.get('email')?.touched) {
    <div class="text-danger mb-2">Valid email is required</div>
  }

  <!-- Password -->
  <input formControlName="password" type="password" class="form-control mb-1" placeholder="Password">

  @if (form.get('password')?.invalid && form.get('password')?.touched) {
    <div class="text-danger mb-2">Minimum 4 characters required</div>
  }

  <button (click)="register()" class="btn btn-success w-100" [disabled]="form.invalid">
    Register
  </button>

  <p class="text-center mt-3">
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</div>
